# Enrich Your Notebook With Interactive Controls

Hello, I am **[Dipam Soni](https://flowcv.me/dipamsoni)** and here is my portfolio website where you can find more information about me.

You can reach me through **[LinkedIn](https://www.linkedin.com/in/dipam-soni-276aa8207)**

Post Link: **[GitHub](https://github.com/dipamsoni/Data-Science/tree/main/Tools/Interactive_Controls.ipynb)**

You can read more from this : **[Documentation](https://ipywidgets.readthedocs.io/en/stable/)**

Spread ðŸ’™, Be ðŸ˜ƒ, Go with the flow ðŸŽˆ.

Love & Regards from Dipam.

In [1]:
from ipywidgets import interact
import pandas as pd

pd.options.plotting.backend = 'plotly'

In [2]:
df = pd.read_csv("../_Datasets/employee_dataset.csv")
df.head(10)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4
5,Donna Miller,Andrade LLC,Garment/textile technologist,West Jamesview,Tonga,428090,Intern,1.1,4
6,Linda Rodriguez,Marshall-Holloway,Optometrist,Whitakerbury,Portugal,645690,Full Time,4.7,5
7,Jonathan Gibson,Scott Inc,Naval architect,Whiteside,Libyan Arab Jamahiriya,483210,Intern,3.4,1
8,Karl Henry,"Campos, Reynolds and Mccormick","Radiographer, therapeutic",Whiteside,Kyrgyz Republic,586480,Full Time,3.7,2
9,Katherine Sims,"Baker, Allen and Edwards",Regulatory affairs officer,Kristaburgh,Haiti,712320,Full Time,3.0,2

In [3]:
print(df.shape)

(1000, 9)

In [4]:
@interact
def filter_company(company = list(df.Company_Name.unique())):

    return df[df.Company_Name == company]

interactive(children=(Dropdown(description='company', options=('White, Mcclain and Cobb', 'Scott Inc', 'Andradâ€¦

In [5]:
@interact
def filter_rating(rating = (0, 5, 0.5)):

    return df[df.Employee_Rating>rating]

interactive(children=(FloatSlider(value=2.0, description='rating', max=5.0, step=0.5), Output()), _dom_classesâ€¦

In [6]:
@interact
def plot_city(city = list(df.Employee_City.unique())):

    filtered_df = df[df.Employee_City == city]
    
    ## create the plot on filtered data
    fig = filtered_df.plot(kind = "scatter", 
                           x = "Employee_Salary", 
                           y = "Employee_Rating", 
                           color = "Employment_Status",
                           size = "Credits")
    fig.show()

interactive(children=(Dropdown(description='city', options=('New Cindychester', 'Ricardomouth', 'North Melissaâ€¦